{% extends 'dashboard/base.html.twig' %}

{% block title %}بیمار جدید{% endblock %}

{% block body %}
    {% include 'dashboard/includes/board_header_without_calendar.html.twig' %}

    <div class="board__inner">
        <div class="board__inner__header">
            <div class="board__inner__header__title">
                بیمار جدید
            </div>
            <div class="board__inner__header__describe">
                در این فرم میتوانید بیمار جدید ثبت کنید
            </div>
        </div>
        <div class="board__inner__body">
            <div class="board__inner__body__main full">
                <div class="board__inner__body__main__information">
                    <h5>
                        اطلاعات بیمار
                    </h5>
                    <div class="board__inner__body__main__information__form">
                        <div class="row w-100">
                            <div class="col-8">
                                <div class="row">
                                    <div class="col-6"> <input type="text" placeholder="نام کامل بیمار"></div>
                                    <div class="col-6"> <input type="text" placeholder="شماره تماس"></div>
                                    <div class="col-12"> <input type="text" placeholder="علت اصلی مراجعه"></div>
                                </div>
                            </div>
                            <div class="col-4 image">
                                <div id="mySecondImage">
                                    <img src="img/image.svg" alt="">
                                    <span>افزودن تصویر</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="board__inner__body__main__history">
                    <h5>تاریخچه پزشکی</h5>
                    <div class="row">
                        <div class="col-3">
                            <label>
                                        <span class="text">
                                            دیابت
                                        </span>
                                <input type="checkbox" checked="checked">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="col-3">
                            <label>
                                        <span class="text">
                                            آسم
                                        </span>
                                <input type="checkbox" checked="checked">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="col-3">
                            <label>
                                        <span class="text">
                                            هپاتیت
                                        </span>
                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="col-3">
                            <label>
                                        <span class="text">
                                            ایدز
                                        </span>
                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="col-3">
                            <label>
                                        <span class="text">
                                            بیماری کلیوی
                                        </span>
                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="col-3">
                            <label>
                                        <span class="text">
                                            صرع
                                        </span>
                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="col-3">
                            <label>
                                        <span class="text">
                                            اعتیاد
                                        </span>
                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="col-3">
                            <label>
                                        <span class="text">
                                            بارداری
                                        </span>
                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="col-3">
                            <label>
                                        <span class="text">
                                            سابقه تب روماتیسمی
                                        </span>
                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="col-3">
                            <label>
                                        <span class="text">
                                            شیمی درمان/ پرتو درمانی
                                        </span>
                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="col-3">
                            <label>
                                        <span class="text">
                                            بیماری انعقادی
                                        </span>
                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="col-3">
                            <label>
                                        <span class="text">
                                            سرطان
                                        </span>
                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="col-3">
                            <label>
                                        <span class="text">
                                            بیماری قلبی عروقی
                                        </span>
                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="col-3">
                            <label>
                                        <span class="text">
                                            فشار خون
                                        </span>
                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="col-3">
                            <label>
                                        <span class="text">
                                            آلرژی ( حساسیت )
                                        </span>
                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="col-3">
                            <label>
                                        <span class="text">
                                            دیابت
                                        </span>
                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="col-12">
                            <textarea name="" id="" placeholder="سایر توضیحات"></textarea>
                        </div>
                    </div>
                </div>

                <div class="board__inner__body__main__table">
                    <div class="d-flex justify-content-between my-4">
                        <h5>طرح درمان</h5>
                        <div class="board__inner__body__main__table__button">ثبت جدید</div>
                    </div>
                    <table class="board__inner__body__main__content__table">
                        <thead>
                        <th>شماره دندان</th>
                        <th> درمان</th>
                        <th>تاریخ</th>
                        <th>مبلغ </th>
                        <th>باقی مانده</th>
                        <th>مشاهده </th>
                        </thead>
                        <tbody>
                        <tr>
                            <td>01</td>
                            <td>ایمپلنت </td>
                            <td>۱/۱۰/۱۴۰۰ </td>
                            <td>۱۰،۰۰۰،۰۰۰ </td>
                            <td> ۳،۰۰۰،۰۰۰</td>

                            <td><a href="#"
                                   class="board__inner__body__main__content__table__button --mustard ">جزییات</a>
                            </td>

                        </tr>
                        <tr>
                            <td>02</td>
                            <td>ایمپلنت </td>
                            <td>۱/۱۰/۱۴۰۰ </td>
                            <td>۱۰،۰۰۰،۰۰۰ </td>
                            <td> ۳،۰۰۰،۰۰۰</td>

                            <td><a href="#"
                                   class="board__inner__body__main__content__table__button --mustard">جزییات</a>
                            </td>

                        </tr>
                        <tr>
                            <td>03</td>
                            <td>ایمپلنت </td>
                            <td>۱/۱۰/۱۴۰۰ </td>
                            <td>۱۰،۰۰۰،۰۰۰ </td>
                            <td> ۳،۰۰۰،۰۰۰</td>

                            <td><a href="#"
                                   class="board__inner__body__main__content__table__button --mustard">جزییات</a>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ asset('assets/plugins/jquery-ui/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/file-upload/file-upload-with-preview.min.js') }}"></script>
    <script>
        var secondUpload = new FileUploadWithPreview('mySecondImage')
    </script>
{% endblock %}